.about-us{
    display: flex;
    margin-top: 5rem;
    margin-left: 8rem;
    margin-right: 6rem;
}

.content{
    display: flex;
    flex-direction: column;
    margin-left: 12rem;
    margin-top: 7rem;
    text-align: start;
}

.content h1{
    font-size: 45px;
    margin-bottom: 1rem;
}

.content p{
    font-size: 22px;
    line-height: 42px;
}
.content img{
    margin-right: 1rem;
}

.content button{
    width: 7rem;
    padding: 1rem;
    border: none;
    border-radius: 0.75rem;
    background-color: #007FFF;
    color: white;
    font-size: 18px;
    text-align: center;
    margin-top: 3rem;
}

@media screen and (max-width: 1180px){
    .about-us{
        display: flex;
        margin-top: 5rem;
        margin-left: 4rem;
        margin-right: 4rem;
    }
    .image img{
        margin-top: 3rem;
        height: 30rem;
        width: 25rem;
    }
    .content{
        margin-left: 4rem;
    }
}

@media screen and (max-width: 850px){
    .image{
        height: 30rem;
    }
    .content{
        margin-left: 3rem;
        margin-top: 7rem;
    }
}

@media screen and (max-width: 760px){
    .about-us{
        display: flex;
        flex-direction: column;
    }
    .image img{
        align-items: center;
    }
}

@media screen and (max-width: 760px){
    .image{
        margin-left: 0rem;
    }
    .image img{
        height: 27rem;
        width: 25rem;
        margin-left: 0;
    }
    .content{
        margin-top: 2rem;
        margin-left: 1rem;
        margin-right: 1rem;
    }
}

@media screen and (max-width: 450px){
    .about-us{
        margin-left: 1rem;
        margin-right: 1rem;
    }
    .image{
        height: fit-content;
        margin-left: 0;
    }
    .image img{
        width: 22rem;
        height: 24rem;
    }

}