.blog{
    display: flex;
    align-items: center;
}

.blog-heading{
    text-align: center;
}

.blog-heading h1{
    margin-top: 7rem;
    font-size: 42px;
}


.blog-container{
    display: flex;
    gap: 1rem;
    margin: 2rem;
}

@media screen and (max-width:550px){
    .blog-container{
        display: flex;
        flex-direction: column;
    }
}