@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap');

:root {
  --font-family: 'Manrope', sans-serif;

  --color-footer : #17224d;
  --color-feature: #FF960C;
  --color-heading: #17224d;
  --color-subtext: #515151;
}
